page-reservation-records {
    .info {
        ion-icon {
            &.icon {
                -webkit-transform: scale(0.5);
                -moz-transform: scale(0.5);
                -ms-transform: scale(0.5);
                -o-transform: scale(0.5);
                transform: scale(0.5);
            }
        }
    }

    .header {
        background-color: rgba(red(map_get($colors, 'primary')), green(map_get($colors, 'primary')), blue(map_get($colors, 'primary')), .6);
        h4.title {
            text-shadow: 0 0 3px 5px rgba(0, 0, 0, .35);
        }
        button.clouse {
            text-shadow: 0 0 3px 5px rgba(0, 0, 0, .35);
        }
    }
}
