page-hsk-time-picker {

    .time-block-list {
        .time-block-item {

            position: relative;

            padding: 50% 0;

            text-align: center;

            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);

            border-radius: 5px;

            .time {
                position: absolute;
                width: 100%;
                top: 50%;
                text-align: center;
                font-size: 1.6rem;
                transform: translate3d(0, -50%, 0);
            }

            &.normal {
                background-color: transparent;
            }
            &.unable {
                background-color: #dedede;
            }
            &.checked {
                background-color: #ffa800;
                color: #fff;
            }

        }
    }

}
